@import './general';

html[theme='default'] {
    body {
        animation: fadeIn 1s ease-in;
    }

    #body {
        .options-container, .text-container, .theme__box {
            backdrop-filter: none;
            border-color: $box-border;
            background-color: $box-bg;
        }
    }
}

html[theme='glassmorphism'] {
    #gradient-area {
        width: 100%;
        height: 100vh;
        background-repeat: repeat-y;
        background-size: cover;
        filter: blur(20px);
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        animation: gradientScale 30s ease-in-out infinite, fadeIn 1s ease-in;
        // transform: matrix3d(1.5, 1.5, 1.5);
        // backdrop-filter: hue-rotate(45deg);
    }

    @keyframes gradientScale {
        0% {
            transform: scale3d(1,1,1);
        } 50% {
            transform: scale3d(1.5, 1.5, 1.5);
        } 100% {
            transform: scale3d(1,1,1);
        }
    }

    #body {
        .options-container, .text-container, .theme__box {
            backdrop-filter: blur(20px);
            border: none;
            background-color: rgba(28, 28, 28, 0.6);
            box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 41%);
        }

        .options-container, .theme__box {
            color: #bdbdbd;
        }

        .text-container {
            color: #bdbdbd62;
        }

        .measure-container > div {
            background-color: rgba(28, 28, 28, 0.6);
            border-radius: 15px;
            padding: 15px 30px;
            margin: 20px 0;
            box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 41%);

        }
    }
}

html[theme='neumorphism'] {
    body {
        background: linear-gradient(to bottom right, #4e4e4e 0%, #1a1a1a 100%) 100%;
        background-attachment: fixed;
        background-size: 200%;
        animation: gradientFill 20s ease-in-out infinite, fadeIn 1s ease-in;
    }

    #body {
        .options-container, .text-container, .theme__box {
            background-color: #2e2e2e;
            border: none;
            box-shadow: $bs-out;
        }

        .text-container {
            border: 4px solid $neu-border;
            box-shadow: $bs-in;
        }

        .measure-container > div {
            background-color: #2e2e2e;
            box-shadow: -3px -3px 8px rgb(185 185 185 / 10%), 6px 6px 11px rgb(22 27 29 / 43%);
            border-radius: 15px;
            padding: 15px 30px;
            margin: 20px 0;
            transition: $ease-2;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    @keyframes gradientFill {
        0% {
            background-position: left top;
        } 50% {
            background-position: right bottom;
        } 100% {
            background-position: left top;
        }
    }

    #shapes-area {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;

        .shape {
            position: absolute;
            background-color: rgba(122, 122, 122, 0.2);
            border-radius: 20%;
            animation: floateShape 25s linear infinite;
        }
    }

    @keyframes floateShape {
        0% {
            transform: translateY(0) rotate(0deg);
        } 100% {
            transform: translateY(-200vh) rotate(720deg);
        }
    }
}
