<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="css/setting.css">
    <title>Setting</title>
</head>
<body>
    <div id="header">
        <a class="header__logo" href="../">
            Key
            <span>Runner</span>
        </a>
    </div>

    <div id="body">
        <h2>Achievement</h2>
        <div class="achievement-container setting-box">
            <div class="total-time">
                <div class="title">Time spent</div>
                <div class="description">00:00:00</div>
            </div>

            <div class="total-words">
                <div class="title">Words typed</div>
                <div class="description">0</div>
            </div>

            <div class="total-race">
                <div class="title">Race played</div>
                <div class="description">0</div>
            </div>

            <div class="average-accuracy">
                <div class="title">Average accuracy</div>
                <div class="description">0</div>
            </div>

            <div class="average-speed">
                <div class="title">Average speed (wpm)</div>
                <div class="description">0</div>
            </div>

            <div class="highest-speed">
                <div class="title">Highest speed (wpm)</div>
                <div class="description">0</div>
            </div>
        </div>

        <h2>Interface</h2>
        <div class="interface-container setting-box">
            <div class="theme-container">
                <div class="title">> Theme</div>
                <div class="description">Choose theme to apply.</div>
                <div class="options-area">
                    <div class="option default active">Default</div>
                    <div class="option glassmorphism">Glassmorphism</div>
                    <div class="option neumorphism">Neumorphism</div>
                    <div class="option background">Background</div>
                </div>
            </div>

            <div class="background-upload-container hide">
                <img class="upload-img-preview">
                <label for="upload-img">
                    <i class="fi fi-rr-upload"></i>
                    Upload image
                </label>
                <input type="file" id="upload-img" accept="image/*" onchange="showPreview(event)">
            </div>

        </div>

        <h2>Control</h2>
        <div class="control-container setting-box">
            <div class="instant-death-container">
                <div class="title">> Instant death</div>
                <div class="description">End the race immediatly when player types wrong character.</div>
                <div class="options-area">
                    <div class="option off active">Off</div>
                    <div class="option on">On</div>
                </div>
            </div>

            <div class="ignore-mistake-container">
                <div class="title">> Ignore mistake</div>
                <div class="description">Let player type continuously without seeing any mistake.</div>
                <div class="options-area">
                    <div class="option off active">Off</div>
                    <div class="option on">On</div>
                </div>
            </div>

            <div class="cursor-type-container">
                <div class="title">> Cursor type</div>
                <div class="description">Change cursor to display while typing.</div>
                <div class="options-area">
                    <div class="option default active">Default</div>
                    <div class="option block">Block</div>
                    <div class="option underline">Underline</div>
                </div>
            </div>
        </div>

        <h2>Danger zone</h2>
        <div class="danger-zone-container setting-box">
            <div class="reset-setting-container">
                <div class="title">Return all setting to original state.</div>
                <button class="reset-setting">Reset</button>
            </div>

            <div class="reset-achievement-container">
                <div class="title">Remove all achievement.</div>
                <button class="reset-setting">Remove</button>
            </div>
        </div>
        
    </div>

    <div id="modal-box" onclick="close_box()">
        <div class="modal-container">
            <div class="title">Are you sure?</div>
            <div class="options">
                <div class="yes" onclick="close_box()">Yes</div>
                <div class="no" onclick="close_box()">No</div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/main_setting.js"></script>
<script type="module" src="scripts/setting.js"></script>
<script type="module" src="scripts/load_theme.js"></script>

</html>