<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="css/setting.css">
    <title>Setting</title>
</head>
<body>
</div>
    <div id="header">
        <a class="header__logo" href="../">
            Key
            <span>Runner</span>
        </a>
    </div>

    <div id="body">
        <div class="theme">
            <div class="theme__title">Theme</div>
            <div class="theme__box">
                <div class="description">Choose theme to apply.</div>
                <div class="options-area">
                    <div class="option default active">Default</div>
                    <div class="option glassmorphism">Glassmorphism</div>
                    <div class="option neumorphism">Neumorphism</div>
                </div>
            </div>
        </div>
    </div>
    
</body>

<script type="text/javascript" src="scripts/setting.js"></script>
<script type="module" src="scripts/load_theme.js"></script>

</html>