$primary-bg: #121212;
$box-bg: #1c1c1c;
$primary-txt: white;
$primary-blur-txt: rgb(133, 133, 133);
$option-hide: rgb(133 133 133 / 15%);
$box-border: rgb(51, 51, 51);
$input-bg: rgb(34 34 34);
$input-blur: rgba(133,133,133,0.3);
$font-weights: (
    'extralight': 200,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'bold': 600
);

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}
