@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
}

#header {
  padding: 10px 5%;
  height: 100px;
  margin-bottom: 50px;
}
#header .header__logo {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  float: left;
  color: white;
  text-decoration: none;
}
#header .header__logo span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}
#header .header__info {
  float: right;
}
#header .header__info a {
  float: left;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
#header .header__info .about {
  border: 2px solid white;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::selection {
  background-color: white;
  color: black;
}

body {
  background-color: #121212;
  color: white;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}

#header {
  padding: 10px 5%;
  height: 100px;
  margin-bottom: 50px;
}
#header .header__logo {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  float: left;
  color: white;
  text-decoration: none;
}
#header .header__logo span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}
#header .header__info {
  float: right;
}
#header .header__info a {
  float: left;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
#header .header__info .about {
  border: 2px solid white;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::selection {
  background-color: white;
  color: black;
}

body {
  background-color: #121212;
  color: white;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
}

html[theme=default] body {
  animation: fadeIn 1s ease-in;
}
html[theme=default] #body .options-container, html[theme=default] #body .text-container, html[theme=default] #body .setting-box {
  backdrop-filter: none;
  border-color: rgb(51, 51, 51);
  background-color: #1c1c1c;
}

html[theme=glassmorphism] #gradient-area {
  width: 100%;
  height: 100vh;
  background-repeat: repeat-y;
  background-size: cover;
  filter: blur(20px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  animation: gradientScale 30s ease-in-out infinite, fadeIn 1s ease-in;
}
@keyframes gradientScale {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
html[theme=glassmorphism] #body .options-container, html[theme=glassmorphism] #body .text-container, html[theme=glassmorphism] #body .setting-box {
  backdrop-filter: blur(20px);
  border: none;
  background-color: rgba(28, 28, 28, 0.6);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.41);
}
html[theme=glassmorphism] #body .options-container, html[theme=glassmorphism] #body .setting-box {
  color: #bdbdbd;
}
html[theme=glassmorphism] #body .text-container {
  color: rgba(189, 189, 189, 0.3843137255);
}
html[theme=glassmorphism] #body .measure-container > div {
  background-color: rgba(28, 28, 28, 0.6);
  border-radius: 15px;
  padding: 15px 30px;
  margin: 20px 0;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.41);
}

html[theme=neumorphism] body {
  background: linear-gradient(to bottom right, #4e4e4e 0%, #1a1a1a 100%) 100%;
  background-attachment: fixed;
  background-size: 200%;
  animation: gradientFill 20s ease-in-out infinite, fadeIn 1s ease-in;
}
html[theme=neumorphism] #body .options-container, html[theme=neumorphism] #body .text-container, html[theme=neumorphism] #body .setting-box {
  background-color: #2e2e2e;
  border: none;
  box-shadow: -3px -3px 8px rgba(185, 185, 185, 0.1), 6px 6px 11px rgba(22, 27, 29, 0.43);
}
html[theme=neumorphism] #body .text-container {
  border: 4px solid rgb(52, 52, 52);
  box-shadow: -3px -3px 8px rgba(185, 185, 185, 0.1) inset, 6px 6px 11px rgba(22, 27, 29, 0.43) inset;
}
html[theme=neumorphism] #body .measure-container > div {
  background-color: #2e2e2e;
  box-shadow: -3px -3px 8px rgba(185, 185, 185, 0.1), 6px 6px 11px rgba(22, 27, 29, 0.43);
  border-radius: 15px;
  padding: 15px 30px;
  margin: 20px 0;
  transition: all ease-in-out 0.3s;
}
html[theme=neumorphism] #body .measure-container > div:hover {
  transform: scale(1.1);
}
@keyframes gradientFill {
  0% {
    background-position: left top;
  }
  50% {
    background-position: right bottom;
  }
  100% {
    background-position: left top;
  }
}
html[theme=neumorphism] #shapes-area {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
html[theme=neumorphism] #shapes-area .shape {
  position: absolute;
  background-color: rgba(122, 122, 122, 0.2);
  border-radius: 20%;
  animation: floateShape 25s linear infinite;
}
@keyframes floateShape {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-200vh) rotate(720deg);
  }
}

.background-show {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation: fadeIn 0.3s ease-in;
}
.background-show #body .options-container, .background-show #body .text-container, .background-show #body .setting-box {
  backdrop-filter: blur(10px);
  border: none;
  background-color: rgba(28, 28, 28, 0.6);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.41);
}
.background-show #body .options-container, .background-show #body .setting-box {
  color: #bdbdbd;
}
.background-show #body .text-container {
  color: rgba(189, 189, 189, 0.3843137255);
}
.background-show #body .measure-container > div {
  background-color: rgba(28, 28, 28, 0.6);
  border-radius: 15px;
  padding: 15px 30px;
  margin: 20px 0;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.41);
}

::-webkit-scrollbar-thumb {
  display: none;
}

#body {
  width: 60%;
  height: 80vh;
  margin: 0 auto;
  padding: 0 10px;
  overflow-y: scroll;
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
  #body {
    width: 80%;
  }
}
#body h2 {
  padding-left: 40px;
  font-size: 28px;
}
#body .setting-box {
  background-color: #1c1c1c;
  border: 2px solid rgb(51, 51, 51);
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
}
#body .setting-box > div {
  padding: 10px 0;
  margin-bottom: 20px;
}
#body .setting-box .title {
  margin-left: 20px;
  float: left;
  width: 100%;
}
#body .setting-box .description {
  margin-left: 20px;
  color: rgb(133, 133, 133);
  display: inline-block;
}
#body .setting-box .options-area {
  float: right;
  display: flex;
  justify-content: space-evenly;
}
#body .setting-box .options-area .option {
  margin: 0 10px;
  color: rgb(133, 133, 133);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
#body .setting-box .options-area .option.active {
  color: white;
  border-bottom: 1px dashed white;
}
#body .interface-container .theme-container {
  margin-bottom: 0;
  overflow: hidden;
}
#body .interface-container .options-area {
  flex-wrap: wrap;
  justify-content: right;
  width: 50%;
}
#body .interface-container .options-area .option {
  margin: 10px;
}
#body .interface-container .background-upload-container {
  overflow: hidden;
  border: 1px dashed rgb(133, 133, 133);
  border-radius: 10px;
}
#body .interface-container .background-upload-container.hide {
  display: none;
}
#body .interface-container .background-upload-container label {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#body .interface-container .background-upload-container input {
  display: none;
}
#body .interface-container .background-upload-container img {
  display: none;
  width: 40%;
  height: auto;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#body .achievement-container {
  display: flex;
  flex-wrap: wrap;
}
#body .achievement-container > div {
  flex: 33.3333333333%;
  margin-bottom: 0;
}
#body .achievement-container > div .title {
  color: rgb(133, 133, 133);
}
#body .achievement-container > div .description {
  color: white;
  font-size: 40px;
}
#body .danger-zone-container > div {
  overflow: hidden;
}
#body .danger-zone-container .title {
  display: inline-block;
  width: auto;
}
#body .danger-zone-container button {
  color: #9e4331;
  border-radius: 15px;
  background: none;
  padding: 10px;
  border: 2px solid #9e4331;
  font-weight: 600;
  float: right;
  width: 150px;
  cursor: pointer;
}
